/* Register starts */
* {
    margin: 0;
    padding: 0;
}

.container {
    background-color:  maroon;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: #fff;
    min-width: 350px;
    min-height: 650px;
    padding: 30px; 
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

label {
    margin: 20px;
    color: rgb(83, 79, 79);
    font-size: 16px;
}

#form1 {
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid rgb(73, 70, 70);
    margin-bottom: 10px;
}

.form2 {
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid rgb(73, 70, 70);
    margin-bottom: 10px;
}

h1 {
    color: maroon;
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.submit {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    padding: 10px 60px;
    background: linear-gradient(to right, #0c070e, maroon);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;

}



/* Login starts */
.container2 {
    background-color: maroon;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    
}

.app-wrapper2 {
    background-color: #fff;
    min-width: 200px;
    min-height: 400px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 9%;
}
.sign{
    margin-top: 5%;
}
.sign h4{
    font-size: 15px;
    color: grey;
}
.error{
    color: red;
}